@font-face {
    font-family: 'BM DoHyeon';
    src: url('../font/BMDOHYEON.ttf');
}

@font-face {
    font-family: 'GangwonEduAll Bold';
    src: url('../font/gangwon_font_bold.ttf');
}

.root{
    -fx-background-color: #383838;
    -fx-font-size: 15pt;
    -fx-font-family: 'Arial';
}
.label{
    -fx-text-fill: #E8E8E8;
    -fx-font-family: 'BM DoHyeon';

}
.button{
    -fx-background-color: linear-gradient(#DC9656, #AB4642);
    -fx-text-fill: #E8E8E8;
    -fx-background-radius: 4;
    -fx-font-family: 'GangwonEduAll Bold';
}

.text-field {
    -fx-text-fill: rgba(56, 56, 56, 0.8);
    -fx-font-family: 'GangwonEduAll Bold';
    -fx-prompt-text-fill: rgba(192, 192, 192, 0.8);
}

.text-area{
    -fx-text-fill: #E8E8E8;
    -fx-font-family: 'GangwonEduAll Bold';
}
.button-blue{
    -fx-background-color: #7CAFC2;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
    -fx-font-family: 'GangwonEduAll Bold';
}

#welcomeLabel {
    -fx-font-family: 'GangwonEduAll Bold';
    -fx-font-size: 28px;
    -fx-text-alignment: center; /* Text */
    -fx-alignment: center; /* Label  */
}

#errorLabel {
    -fx-text-fill: rgba(255, 56, 56, 0.8);
    -fx-font-family: 'GangwonEduAll Bold';
    -fx-font-size: 18px;
    -fx-text-alignment: center; /* Text */
    -fx-alignment: center; /* Label  */
}

/*

@font-face {
    font-family: 'GangwonBold';
    src: url('../font/gangwon_font_bold.ttf');
}

-fx-background-image: url('loginview.png');
-fx-background-size: cover; // 배경이 라벨의 크기에 맞게 조정
-fx-background-repeat: no-repeat;
 */
