

.root{
    -fx-background-color: #383838;
    -fx-font-size: 15pt;
    -fx-font-family: 'Arial';
}
.label{
    -fx-text-fill: #E8E8E8;
    -fx-font-family: 'Verdana';
}
.button{
    -fx-background-color: linear-gradient(#DC9656, #AB4642);
    -fx-text-fill: #E8E8E8;
    -fx-background-radius: 4;
    -fx-font-family: 'gangwon_font_bold';
}

.button-blue{
    -fx-background-color: #7CAFC2;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
    -fx-font-family: 'Arial';
}

#welcomeLabel {
    -fx-font-family: 'LeferiBaseBold';
    -fx-font-size: 24px;
}


/*

@font-face {
    font-family: 'GangwonBold';
    src: url('../font/gangwon_font_bold.ttf');
}

-fx-background-image: url('loginview.png');
-fx-background-size: cover; // 배경이 라벨의 크기에 맞게 조정
-fx-background-repeat: no-repeat;
 */
