@font-face {
    font-family: '배달의민족 도현';
    src: url('../font/BMDOHYEON.ttf');
}

@font-face {
    font-family: '강원교육모두 Bold';
    src: url('../font/gangwon_font_bold.ttf');
}

.root{
    -fx-background-color: #383838;
    -fx-font-size: 15pt;
    -fx-font-family: 'Arial';
}
.label{
    -fx-text-fill: #E8E8E8;
    -fx-font-family: '강원교육모두 Bold';
}
.button{
    -fx-background-color: linear-gradient(#DC9656, #AB4642);
    -fx-text-fill: #E8E8E8;
    -fx-background-radius: 4;
    -fx-font-family: '강원교육모두 Bold';
}
.text-field{
    -fx-text-fill: #E8E8E8;
    -fx-font-family: '배달의민족 도현';
}

.text-area{
    -fx-text-fill: #E8E8E8;
    -fx-font-family: '배달의민족 도현';
}
.button-blue{
    -fx-background-color: #7CAFC2;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
    -fx-font-family: '배달의민족 도현';
}

#welcomeLabel {
    -fx-font-family: '강원교육모두 Bold';
    -fx-font-size: 28px;
    -fx-text-alignment: center; /* Text */
    -fx-alignment: center; /* Label  */
}


/*

@font-face {
    font-family: 'GangwonBold';
    src: url('../font/gangwon_font_bold.ttf');
}

-fx-background-image: url('loginview.png');
-fx-background-size: cover; // 배경이 라벨의 크기에 맞게 조정
-fx-background-repeat: no-repeat;
 */
